
.forgotbuton{
 position: relative;
 width: 10vw;
 height: 40px;
 left: 0px;
 top: 1px;
background: #FB404C;
border-radius: 10px;
border: 0px solid #fbff00;
padding:0px;
margin:0px;
 font-family: 'Comic Sans MS', cursive;

font-style: normal;
font-weight: 900;
 color: #FFFFFF;;
 margin-top:2vh;
 transition: transform 0.5s ease-in-out;
}

.forgotbuton:hover{
         background-color: black;
         cursor: pointer;
           transform: scale(1.2);
}